.dice_1{
    width: 50%;
margin-top: 90px;
background-image: image('dice1.png');
}

.dice_2{
    width: 50%;
margin-top: 90px;
background-image: image('dice2.png');
}

.dice_3{
    width: 50%;
margin-top: 90px;
background-image: image('dice3.png');
}

.dice_4{
    width: 50%;
margin-top: 90px;
background-image: image('dice4.png');
}

.dice_5{
    width: 50%;
margin-top: 90px;
background-image: image('dice5.png');
}

.dice_6{
    width: 50%;
margin-top: 90px;
background-image:url("https://vistapointe.net/images/dice-2.jpg");
}